<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iums_system">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IUMS_SYSTEM">
        <activity
            android:name=".StudentPart.StudentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPart.AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPart.AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".StudentPart.SProfileEditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".StudentPart.StudentProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AdminALogin"
            android:exported="false" />
        <activity
            android:name=".StudentPart.StudentSignup"
            android:exported="false" />
        <activity
            android:name=".StudentPart.StudentLogin"
            android:exported="false" />
        <activity
            android:name=".misc.AdminStudentActivity"
            android:exported="false" />
        <activity
            android:name=".misc.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>